<p id="notice"><%= notice %></p>

<h1>All Users</h1>

<hr>

<% @users.each do |user| %>
  <p style="font-size: 1.1rem; font-weight: bold"><%= user.name %></p>

  <p>Daily health check responses were completed on the following days:</p>
  <% user.entries.each do |entry| %>

    <% if entry.created_at.to_date === Time.now.strftime("%Y-%m-%d") %>
      <p>Submitted.</p>
    <% end %>


  <ul>
    <li><%= entry.created_at.localtime.strftime("%b. %d. %Y. %l:%M %p. %A.") %></li>
  </ul>
  <% end %>
  <hr>
<% end %>

<br>

