<h4><%= Time.now.getlocal.strftime("%A - %H:%M") %></h4>
<h5><%= Time.now.getlocal.strftime("%B. %d. %Y") %></h5>

<hr>

<p style="color: red; font-weight: bold; text-transform: uppercase">caution: <br/> You will <u>not</u> be able to edit your response once submitted.</p>

<hr>

<%= render 'form', entry: @entry %>

<div style="margin-bottom: 20px">
    <%= link_to 'CANCEL', entries_path, class: "btn btn-danger" %>
</div>