<p id="notice"><%= notice %></p>

<h1>Thank you!</h1>

<hr>

<% if @entry.question_one == true || @entry.question_two == true || @entry.question_three == true || @entry.question_four == true %>
  <h5 style="color: red">You have answered "Yes" to one of the questions.</h5>
  <h5 style="color: red">Please do not attend work</h5>
  <h5 style="color: red">contact your direct Supervisor for further direction.</h5>
<% else %>
  <h5>Please stay safe.</h5>
<% end %>

<div>
<p>LINK TO MY ENTRIES</p>

<%= link_to 'BACK', entries_path %>
