<h1>GREEN PLANET</h1>

<h3>Staff Daily Health Check Questions for BC Public Service Workplaces</h3>

<p>To comply with the Public Health Officer’s orders of November 19,
 2020, all staff entering a workplace within the Province of British 
Columbia must confirm they have completed a daily health check prior 
to entering the workplace. </p>

<p>Based on the Public Health Officer’s orders, daily health checks are only 
to be completed by staff, not clients or the public. Some of these 
questions may sound personal but they are important to help ensure 
the health and safety of everyone in the workplace.</p>
